<!DOCTYPE html>
<html>

    <head>
        <title>Video Games REST API</title>
    </head>

    <body>

        <h1>Video Games REST API</h1>

        <p>
            This project was created for the CM-ADVANCED-WEB-DEV module.
        </p>

        <hr>

        <h2>Project Information</h2>

        <ul>
            <li>Python Version: 3.13.1</li>
            <li>Django Version: 6.0.6</li>
            <li>Packages Used:
                <ul>
                    <li>Django</li>
                    <li>Django REST Framework</li>
                </ul>
            </li>
        </ul>

        <hr>

        <h2>API Endpoints</h2>

        <ul>
            <li><a href="/games/">All Games</a></li>
            <li><a href="/games/top-sales/">Top Selling Games</a></li>
            <li><a href="/games/genre/Action/">Games by Genre (Action)</a></li>
            <li><a href="/games/platform/PC/">Games by Platform (PC)</a></li>
            <li><a href="/games/publisher/Activision/">Games by Publisher (Activision)</a></li>
            <li><a href="/games/add/">POST Endpoint (Use Thunder Client)</a></li>
            <li><a href="/games/form/">Add Game Form</a></li>
            <li><a href="/admin/">Admin Panel</a></li>
        </ul>

    </body>

</html>